.hovermenu-wrapper {
  display: inline-block;
  position: relative;

  .hovermenu-button {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    padding: 8px 16px;
    background-color: transparent;
    transition: color 0.2s ease-in-out;

    &:hover {
      color:  #d32f2f;
      background-color: transparent;
    }
  }
}

.hovermenu-root {
  pointer-events: none; 

  .hovermenu-paper {
    pointer-events: auto;
    max-width: 350px;
    max-height: 330px;
    margin-top: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15) !important;
    border-radius: 4px;
    background-color:  #fff;
    overflow-y: auto; 

   
    &::-webkit-scrollbar {
      width: 20px;
    }
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #cccccc;
      border-radius: 10px;
      border: 3px solid #f1f1f1;
      
      
    }

    &::-webkit-scrollbar-button:single-button {
      background-color: #f1f1f1;
      display: block;
      height: 12px;
      background-size: 8px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &::-webkit-scrollbar-button:vertical:decrement {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><polygon points='50,20 10,80 90,80' fill='%23999'/></svg>");
    }

    &::-webkit-scrollbar-button:vertical:increment {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><polygon points='10,20 90,20 50,80' fill='%23999'/></svg>");
    }
  }

  .hovermenu-item {
    padding: 6px 20px;
    white-space: normal;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--extend-background-color-5, #f5f5f5);
      
      .hovermenu-link {
        
        text-decoration: underline;
      }
    }

    .hovermenu-link {
      color:  #162f4e;
      font-weight: 700;
      font-size: 15px;
      text-transform: uppercase;
      display: block;
      width: 100%;
      line-height: 1.4;
      cursor: pointer;
    }
  }
}