.footer-container {
    background-color: #f8f9fa;
    font-family: "Roboto", sans-serif;
    color: #333;
    padding-top: 40px;
  
    .footer-inner {
      padding-bottom: 32px;
    }
  
    .footer-grid {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 0 15px;
  
      @media (min-width: 770px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;
      }
    }
  
    /* Định dạng cột */
    .footer-item {
      &.col-info { flex: 0 0 25%; }
      &.col-util { flex: 0 0 12%; }
      &.col-policy { flex: 0 0 20%; }
      &.col-partner { flex: 0 0 20%; }
    }
  
    .column-title {
      font-size: 15px !important;
      font-weight: 700 !important;
      color: #000;
      margin-bottom: 20px !important;
      text-transform: uppercase;
    }
  
    .footer-text {
      font-size: 14px !important;
      margin-bottom: 8px !important;
      line-height: 1.5;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  
    .footer-icon {
      font-size: 18px;
      color: #555;
    }
  
    /* Link Style */
    .footer-link-item {
      color: #555 !important;
      text-decoration: none !important;
      font-size: 14px !important;
      line-height: 2;
      transition: color 0.2s ease;
      cursor: pointer;
      display: block;
  
      &:hover {
        color: #007bff !important; // Màu nhấn khi hover
      }
    }
  
    .footer-address {
      display: flex;
      align-items: flex-start;
      gap: 5px;
      margin-top: 10px;
    }
  }
  .footer-bottom {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
  }